.button__icon-accent {
  color: var(--text-color);
  mix-blend-mode: difference;
  opacity: 0;
  height: 55px;
  width: 335px;
  padding: 17px 275px 17px 0;
}

.button__icon-accent:hover {
  opacity: 1;
}

@media (width <= 375px) {

  .button__icon-accent {
    height: 84px;
    width: 306px;
    padding: 18px 2px 38px 0;
  }
}
