.filter-none {
  filter: none;
}

.filter-gray {
  filter: grayscale(0.5);
}

.filter-sepia {
  filter: sepia(1);
}

.filter-blur {
  filter: blur(5px);
}

.filter-contrast {
  filter: contrast(0.4);
}

.filter-saturate {
  filter: saturate(2);
}

.filter-hue {
  filter: hue-rotate(180deg);
}

.filter-mix {
  filter: sepia(1) hue-rotate(90deg) blur(2px);
}
