.filter1 {
  filter: none;
}

.filter2 {
  filter: grayscale(0.5);
}

.filter3 {
  filter: sepia(1);
}

.filter4 {
  filter: blur(5px);
}

.filter5 {
  filter: contrast(0.4);
}

.filter6 {
  filter: saturate(2);
}

.filter7 {
  filter: hue-rotate(180deg);
}

.filter8 {
  filter: sepia(1) hue-rotate(90deg) blur(2px);
}
