dialog.dialog#dialog
    div.dialog__content
        svg.dialog__icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 21")
            use.floppy(href="./images/svg/floppy.svg#floppy")
        p.dialog__text Вставьте дискету, чтобы продолжить
    button.dialog__button-close(type="button" onclick="window['dialog'].close()") ОК
        span.dialog__button-close-accent OK
