.dialog {
  font-family: var(--font-accent);
  color: var(--accent-color);
  background-color: var(--main-color);
  font-size: 14px;
  text-transform: uppercase;
  line-height: 21px;
  border: 2px solid var(--accent-color);
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: fit-content;
  margin: auto;
  padding: 0;
  width: 340px;
}

.dialog[open]::backdrop {
  background-color: #000;
  opacity: 0.5;
}
