div.footer 
    button.button.footer__button(type="button" onclick="window['dialog'].showModal();" aria-controls="dialog")
        svg.button__icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 21")
            use.floppy(href="./images/svg/floppy.svg#floppy")
        span.button__text.footer__button-text Сохранить на память