.footer__button {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  width: clamp(306px, 90%, 335px);
  height: fit-content;
}

@media (width <= 375px) {

  .footer__button {
    flex-direction: column-reverse;
    gap: 5px;
    width: 310px;
  }
}
