.footer__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 0px;
  width: clamp(306px, 90%, 335px);
  height: fit-content;
}

@media (width <= 375px) {

  .footer__button {
    flex-direction: column;
    padding: 15px 0px 10px 0px;
    width: 310px;
  }
}
