.footer__button-text {
  left: -2px;
  top: -2px;
  height: 55px;
  width: 335px;
  padding: 21px 19px 17px 50px;
}

@media (width <= 375px) {

  .footer__button-text {
    padding: 51px 18px 0;
    height: 84px;
    width: 306px;
  }
}
